main{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    background-color: lightblue;
}

form{
    position: absolute;
    top: 60%;
    left: 20%;
    background-color: lightgrey;
}

input[type="password"]{
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 10px;
    font-style: 30px;
}

input[type="submit"]{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
        border: 1px solid white;
}